extends layout

block content
	h1 Create quiz
	p Name: 
		= name
	p Desc: 
		= desc
	form(action='/reviewQuiz',method='post')
		input(hidden type="text", name="quizId", value="#{quizId}")
				
		- each question, qi in existingQuestions
			div(id="#{question#{qi}_form}", class="questionForm")
				| Question #{qi+1} description:
				br
				textarea(name="questionName#{qi}", rows="5" cols="40") #{question.text}
			
		- for (var i = 0; i < 3; ++i) {
			div(id="#{question#{i+existingQuestions.length}_form}", class="questionForm")
				| Question #{i+existingQuestions.length+1} description:
				br
				textarea(name="questionName#{i+existingQuestions.length}", rows="5" cols="40")
		- }
		
		input(type="submit", value="submit")